/*** VARIABLES & THEMES ***/

:root {
    --primary-color: #0fcf29;
    --primary-color-contrast: #ffffff;
    --background-color: #000;
    --segunda-color: #fcff41;
  }  

body {
    font: 80% "arial", sans-serif;
    margin: 0px;
}

/**Header**/
#capa{
      width: 100%;
      height: 120px;
      background-color: var(--background-color);
      color: var(--primary-color);
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;      
}

#conteudo {    
    position: relative;
    margin-top: -100px;     
}

#tela {
    position: absolute;
    left: 0px;
    top: 105px;
    width: 642px;
    height: 603px;
}

#topo {
    position: absolute;
    left: 642px;
    top: 102px;
    width: 274px;
    height: 261px;
}

#faixaDir {
    position: absolute;
    left: 916px;
    top: 137px;
    width: 55px;
    height: 512px;
}

#ladoEsqTec {
    position: absolute;
    left: 642px;
    top: 363px;
    width: 27px;
    height: 227px;
}

#habilitaNumeros {
    display: none;
}

#habilitaCorrige {
    display: none;
}

#n_1 {
    position: absolute;
    left: 669px;
    top: 363px;
    width: 73px;
    height: 58px;
}

#n_2 {
    position: absolute;
    left: 742px;
    top: 363px;
    width: 68px;
    height: 58px;
}

#n_3 {
    position: absolute;
    left: 810px;
    top: 363px;
    width: 69px;
    height: 58px;
}

#ladoDirTec {
    position: absolute;
    left: 879px;
    top: 363px;
    width: 37px;
    height: 216px;
}

#n_4 {
    position: absolute;
    left: 669px;
    top: 421px;
    width: 73px;
    height: 60px;
}

#n_5 {
    position: absolute;
    left: 742px;
    top: 421px;
    width: 68px;
    height: 60px;
}

#n_6 {
    position: absolute;
    left: 810px;
    top: 421px;
    width: 69px;
    height: 60px;
}

#n_7 {
    position: absolute;
    left: 669px;
    top: 481px;
    width: 73px;
    height: 58px;
}

#n_8 {
    position: absolute;
    left: 742px;
    top: 481px;
    width: 68px;
    height: 58px;
}

#n_9 {
    position: absolute;
    left: 810px;
    top: 481px;
    width: 69px;
    height: 58px;
}

#n_0 {
    position: absolute;
    left: 742px;
    top: 539px;
    width: 80px;
    height: 51px;
}

#confirma {
    position: absolute;
    left: 822px;
    top: 579px;
    width: 94px;
    height: 70px;
}

#branco {
    position: absolute;
    left: 642px;
    top: 590px;
    width: 90px;
    height: 59px;
}

#corrige {
    position: absolute;
    left: 732px;
    top: 590px;
    width: 90px;
    height: 59px;
}
#ptabaixo7 {
    position: absolute;
    left: 669px;
    top: 539px;
    width: 73px;
    height: 51px;
}

#ptabaixo9 {
    position: absolute;
    left: 822px;
    top: 539px;
    width: 57px;
    height: 40px;
}

#abaixoTec {
    position: absolute;
    left: 642px;
    top: 649px;
    width: 324px;
    height: 40px;
}

#bateria {
    position: absolute;
    left: 550px;
    top: 330px;
    width: 40px;
    height: 30px;
}
h4{
    font-size: 20px;
}
#bolsonario{
    position: absolute;
    left: 965px;
    top: 125px;   
   
}

#bolsonario img{
   width: 100px;
   height: 150px;
   object-fit: cover;
   border: 5px solid var(--background-color);
  
}

#lula{
    position: absolute;
    left: 1095px;
    top: 125px;
}

#lula img{
   width: 100px;
   height: 150px;
   object-fit: cover;
   border: 5px solid var(--background-color);
}

#ciro{
    position: absolute;
    left: 1225px;
    top: 125px;
       
    
  
}

#ciro img{
   width: 100px;
   height: 150px;
   border: 5px solid var(--background-color);
}

#simone{
    position: absolute;
    left: 965px;
    top: 400px;  
    
}

#simone img{
   width: 100px;
   height: 150px;
   object-fit: cover;
   border: 5px solid var(--background-color);
}

#candidato{
    position: absolute;
    left: 80px;
    top: 350px;   
    font-size: 26px;
    text-transform: uppercase;
}

#visor h1{
    position: absolute;
    left: 60px;
    top: 375px;
    text-transform: uppercase;
    border: 2px solid black;
    margin-left: 75px;
    padding: 5px;   
}

.input-do-numero{
    position: relative;
    left: 250px;
    top: 440px; 
    height: 50px;
    width: 50px; 
    text-align: center;
    line-height: 48px;
    display: inline-block;
    padding: 5px;    
    border: 1px solid black; 
    font-size: 30px;  
}

.d-1-1{
    position: relative;
    left: 80px;
    top: 455px; 
    display: flex;
    padding: 5px;    
    font-size: 30px;  

}

.d-2{
    position: absolute;
    left: 70px;
    top: 585px;

}

@keyframes pisca {
    0% { opacity: 0.2; } 
   50% { opacity:   1; }
  100% { opacity: 0.2; }
}

.input-do-numero.primeiro-numero{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#fotoC img{

    position: absolute;
    left: 350px;
    top: -70px; 
    height: 150px;
    width: 100px; 
    border: 1px solid black;
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   

}
